.title-slide {
  background-color: #fff;
  color: #000;
  background-image: url(DU_logo.png);
	background-position: center bottom 30px;
	background-size: 15%;
	text-shadow: 0 0 20px #fff
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  color: #000;
}